body {
    color: white;
    font-family: Arial;
    background-color: black;
    text-align: center;
}
form {
    background-color: gray;
    padding: 50px;
    display: inline-block;
     border-radius: 10px;
}
input {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    height: 20px;
    width: 200px;
    border-radius: 5px;
}
button{
    background-color: blue;
    color: white;
    border: none;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}
