@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    color: white;
    background-color: black;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.Mythical {
    border: 3px solid #ff75ff;
}

.Chroma {
    border: 3px solid #00ccff;
}

.Supreme {
    border: 3px solid #be0000;
}

.Unique {
    border: 3px solid #008080;
}

.Legendary {
    border: 3px solid #ffaf0f;
}

.Epic {
    border: 3px solid #8000ff;
}

.Rare {
    border: 3px solid #0000ff;
}

.Uncommon {
    border: 3px solid #29e629;
}

.Common {
    border: 3px solid #ffffff;
}

.MythicalText {
    color: #ff75ff;
}

.ChromaText {
    color: #00ccff;
}

.SupremeText {
    color: #be0000;
}

.UniqueText {
    color: #008080;
}

.LegendaryText {
    color: #ffaf0f;
}

.EpicText {
    color: #8000ff;
}

.RareText {
    color: #0000ff;
}

.UncommonText {
    color: #29e629;
}

.CommonText {
    color: #ffffff;
}

a {
    text-decoration: none;
}