@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

#search {
    input, select{
      box-sizing: border-box;
    }

    input {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        outline: none;
        border: none;
        height: 30px;
        background-color: #2f2f2f;
        color: white;
        border-radius: 3px;
    }

    select {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        outline: none;
        border: none;
        height: 30px;
        background-color: #2f2f2f;
        color: white;
        border-radius: 3px;
        vertical-align:top;
    }

    option {
        font-weight: 700;
        border: none;
        outline: none;
    }

    a {
        text-decoration: underline;
        color: white;
        font-weight: 300;
        font-family: "Titan One", sans-serif;
    }

    a:visited {
        color: white;
    }
}

#background1 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4f4f4f;
    overflow: hidden;
    z-index: -1;
}

#background2 {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 28.646vw;
    background-position: 0% 0%;
    opacity: 0.1;
    transform: translate(-50%, -50%) rotate(15deg);
    overflow: hidden;
    background-image: url("/static/assets/background.webp");
}