body{
  background-image: url("star-4773.gif");
}
form {
    border-radius: 10px;
    background-color: #40566b;
    padding: 50px;
    width: auto;
    display: inline-block;
    text-align: center;
}

input {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    height: 30px;
    width: 200px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: white;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}
